Task-7[[:space:]]Physical[[:space:]]design[[:space:]]of[[:space:]]Raven[[:space:]]SOC/icc2/** filter=lfs diff=lfs merge=lfs -text
Task-7[[:space:]]Physical[[:space:]]design[[:space:]]of[[:space:]]Raven[[:space:]]SOC/icc2_workshop_collaterals/** filter=lfs diff=lfs merge=lfs -text
